<!DOCTYPE html>
<html lang="zh-cn">
<head>
    @await Html.PartialAsync("_HeaderInclude.cshtml")

    @await RenderSectionAsync("Styles", required: false)

    @await RenderSectionAsync("Head", required: false)

</head>
<body>
    @RenderBody()
    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
