@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="text-center">
    正在获取身份证
</div>

@section scripts {
    <script src="~/pages/checkin/idcard.js"></script>
    <script>
        layui.define(['layer','checkinpersoninfo'], function (exports) {
            let cardInfo = layui.checkinpersoninfo.ReadCard();
            alert(JSON.stringify(cardInfo));
            if (!!cardInfo)
            {
                location.href = "/checkin/mobile";
            }
        });
    </script>
}