@{ ViewData["Title"] = "Home Page"; }

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<button id="m">输入手机号</button>

@section scripts {
    <script src="~/pages/checkin/mobile.js"></script>

    <script>
        layui.define(['layer', 'checkinpersoninfo', 'main', 'orderconfirm'], function (exports) {
            $("#m").click(function () {
                let mobileInfo = layui.checkinpersoninfo.SetMobile("18862489916");
                alert(JSON.stringify(mobileInfo));
                if (!!mobileInfo) {
                    layui.main.FinishCheckInPersonInfo();
                }
            });

        });
    </script>
}